{{!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">VidJot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about-us">About</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Video Ideas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/ideas">Ideas</a>
            <a class="dropdown-item" href="/ideas/add">Add Idea</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav> --}}


<nav class="navbar navbar-expand-sm" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VidJot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about-us">About</a>
        </div>
        </div>
        <ul class="navbar-nav ml-auto">
          {{#if user}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Video Ideas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/ideas">Ideas</a>
                  <a class="dropdown-item" href="/ideas/add">Add Idea</a>
              </div>
              <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
            </li>
          {{else}}
              <li class="nav-item"><a href="/users/login" class="nav-link">Login</a></li>
              <li class="nav-item"><a href="/users/register" class="nav-link">Register</a></li>    
          {{/if}}
        </ul>
    </div>
</nav>